<div class="container">
 <div class="row">
        <div class="col">
           <img src="{{communities.communityphoto}}" class="img-fluid img-thumbnail rounded-circle" height="100px" width="100px">
           <span class="p-2"><a href="/community/communityprofile/{{communities.id}}">{{communities.name}}</a></span>
        </div>
</div>
<hr>
<div class="card shadow mb-5 mt-5">
    <div class="card-header bg-info text-white">
        <h5>Start a discussion</h5>
    </div>
    <form action="/community/adddiscussion/{{community}}" method="POST">
    <input type="hidden" name="_method" value="PUT">
        <div class="card-body">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" aria-label="Large" placeholder="Enter discussion title"
                    data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                    autocomplete="off" required>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="form-group">
                    <label>Details</label>
                    <textarea name="details" class="form-control" placeholder="Enter details" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
    </form>
</div>

{{#each discussions}}
<div class="card mt-3 mt-5 shadow">
    <div class="card-header ">
        <h5>{{title}}
        {{#if (idorrolecheck useraccess ../userid ../userrole "admin")}}
        <a href="/community/deletediscussion/{{id}}" class="float-lg-right float-md-right float-sm-right float-right text-danger p-1">
        <i class="fas fa-trash"></i>
        </a>
        <a class="float-lg-right float-md-right float-sm-right float-right p-1" data-toggle="modal" href="#ModalCenter{{id}}">
        <i class="fas fa-edit"></i>
        </a>
        {{/if}}
        </h5>
        <small class="text-muted">Posted by <a href="/profile/{{useraccess}}">{{author}}</a> on {{date}}</small>


        <div class="modal fade" id="ModalCenter{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Discussion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/community/editdiscussion/{{id}}?_method=PUT" method="post">
                        <input type="hidden" name="_method" value="PUT">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" name="title" class="form-control" aria-label="Large" placeholder="Enter discussion title"
                                    data-target="#collapseExample" aria-expanded="false" autocomplete="off" value="{{title}}">
                            </div>
                            <div class="form-group">
                                <label>Details</label>
                                <textarea name="details" class="form-control" placeholder="Enter details">{{details}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{details}}
        <div class="mt-2">
        <small><a data-toggle="collapse" class="text-muted font-weight-bold" href="#comments{{id}}" aria-expanded="false" aria-controls="comments">
        <i class="fas fa-comments"></i> Comments</a>
        </small>
        </div>
    </div>
    

    {{#each ../comments}}
        {{#if (ifcond discussionaccess "==" ../id)}}
            <div class="collapse" id="comments{{../id}}">
                <div class="container">
                <img src="{{userphoto}}" class="img-fluid img-thumbnail rounded-circle mr-4 shadow-sm" height="50px" width="50px">
                <a href="/profile/{{useraccess}}">{{author}}</a>
                {{#if (ifcond useraccess "==" ../../user.id)}}
                    <a class="text-danger ml-3" href="/community/commentdelete/{{id}}/{{../communityaccess}}"><i class="fas fa-trash"></i></a>
                {{/if}}
                <div class="ml-5">                
                <ol class="breadcrumb ml-4">
                    <li class="breadcrumb-item active" aria-current="page">{{usercomment}}</li>
                </ol>
                </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
        <div class="card-body border-top">
        <form action="/community/addcomment/{{id}}/{{../community}}" method="POST">
            <div class="input-group">
                <input type="text" aria-label="Large" class="form-control" name="comment" placeholder="Reply to this discussion">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </form>
        </div>
</div>
{{/each}}
</div>